  h1 {
    color: #661869;
    text-align: center;
  }

  h2 {
    color: rgb(169, 211, 255);
    background-color: #5c6fa4;
    font-family:'Times New Roman', Times, serif;
  }

  p {
    color: #0d031a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }

  body {
    background-color: #c1cdef;
    margin: 50px;
  }

  div {
    background-color: rgb(140, 183, 228);
    width: 500px;
    height: 70px;

    padding: 10px;
    margin: 10px;
    border: 5px inset rgb(74, 88, 153);
    text-align: center;
  }

  nav {
    list-style-type:none;
    overflow:hidden;
    background-color: #7085b3;
  }

  li {
    float:left;
  }
  
  nav a {
    display:block;
    color: rgb(170, 213, 242);
    padding: 10px;   
    font-family:Arial, Helvetica, sans-serif;

  }

  nav a:hover {
  background-color: rgb(54, 73, 99); 
  }

  @media screen and (max-width: 992px) {
    body {
        background-color: rgb(141, 152, 205);
      }
  }
  
  @media screen and (max-width: 768px) {
    body {
      background-color: rgb(98, 98, 142);
    }
  }
  
  @media screen and (max-width: 576px) {
    body {
      background-color: rgb(111, 113, 155);
    }
  }
  