@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html{
	font-family:'Times New Roman', Times, serif;
}

header {
  height: 100px;
}

header nav {
  float: left;
}
header nav ul li {
  display:inline-block;
  margin-top: 7%;
}
header nav ul li a {
  color: #444444;
  font-weight: bold;
  display: block;
  margin-right: 10px;
}
header nav ul li:last-child a {
  text-transform: uppercase;
  color: rgb(249, 1, 1);
}

.text_box {
  background-color: rgb(169, 169, 169);
  width: auto;
  height: auto;
  padding: 10px;
  margin: 70px 20px;
}
.text_box h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.text_box p{
  margin-left: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: red;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}




/* #hero-image {
  height: 200px;
  margin: 10px;
  padding-top: 1px;
  background: url('../image/background.jpg') no-repeat center;
}
#hero-image h2 {
  margin: 10% 1px 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
#hero-image h3{
  margin-left: 7%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
 */



/* #elem1,#elem2,#elem3,#elem4,#elem5,#sub *{
	border:1px solid grey;
}

#elem1{
	background-color:red;
}
#elem2{
	background-color: orange;
}
#elem4{
	background-color: green;
}
#elem5{
	background-color: blue;
}
#sub *{
	background-color:yellow;
} */


/* <header>
<div class="d-flex .align-items-center bg-light" style="height:150px">
  <div class="p-2 border">
    <li><a href= "hobby.html"> hobbies </a> </li>
  </div>
  <div class="p-2 border">
    <li><a href= "education.html"> Education </a> </li>
  </div>
  <div class="p-2 border">
    <li><a href= "projects.html"> Projects </a> </li>
  </div>
  <div class="p-2 border">
    <li><a target="_blank" href= "https://github.com/Isrvx0/statische-front-end"> GitHub </a></li>
  </div>
</div>
</header> */