@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html{
	font-family:'Times New Roman', Times, serif;
}

header {
  height: 75px;
}

header nav {
  float: left;
}

header nav ul li {
  display:grid;
  margin-top: 3%;
}
header nav ul li a {
  color: #444444;
  font-weight: bold;
  display: block;
}
header nav ul li:last-child a {
  text-transform: uppercase;
  float:unset;
}


.text_box {
  background-color: rgb(210, 210, 210);
  width: auto;
  height: auto;
  padding: 10px;
  margin: 50px 20px;
}
.text_box h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.text_box p{
  margin-left: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(105, 105, 105);
}

footer {
  padding: 20px;
}

footer h5{
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif;
}

.margin{
  margin: 10px;
  padding-left: 10px;
}

.space{
  margin-top: 50px;
}

i{
  font-size: 2rem; 
  color:#8296af;
}

.education h2{
  margin-top: 50px;
  font-weight: bolder;
  text-align: center;
}
.education h4{
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  letter-spacing: 1rem;
  margin-bottom: 20px;
}
.education img{
  margin-bottom: 25px;
}
.education p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 25px;
}


.project img{
margin-top: 5%;

}

.project p{
font-weight: bolder;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
padding-left: 10px;
margin-top: 3%;
}
.project h3{
  text-align: center;
  font-weight: bolder;
  margin-top: 7%;
}

.footer_fix{
  margin-top: 155px;
}
